<!DOCTYPE html>
<html lang="en">
<head>
<title>关于我们</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.3.js') }}"></script>
<!-- stylesheet -->
<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- //stylesheet -->
<!-- online fonts -->
<link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<!-- //online fonts -->
<!-- font-awesome-icons -->
<link href="{{ url_for('static',filename='css/font-awesome.css') }}" type="text/css" rel="stylesheet">
<!-- //font-awesome-icons -->
</head>
<body>
<div class="agileits_main">
<!-- header -->
<div class="w3_agile_logo">
	<h1 class="text-center"><a href="#">HardCoreTV</a></h1>
</div>
<!-- banner -->
<div class="w3_banner">
	<div class="container">
		<div class="slider">
			<div class="callbacks_container">
			   <ul class="rslides callbacks callbacks1" id="slider4">
					<li>	
						<div class="banner_text_w3layouts">
							<h3>前端</h3>
							<span> </span>
							<p>臧启元 熊征斯 胡富国 殷惠俊</p>
						</div>
					</li>
					 <li>	
						<div class="banner_text_w3layouts">
							<h3>后端</h3>
							<span> </span>
							<p>李昌文 熊征斯</p>
						</div>
					</li>
					 <li>	
						<div class="banner_text_w3layouts">
							<h3>数据库</h3>
							<span> </span>
							<p>李昌文</p>
						</div>
					</li>
					<li>	
						<div class="banner_text_w3layouts">
							<h3>素材/美术</h3>
							<span> </span>
							<p>臧启元</p>
						</div>
					</li>
				</ul>
			</div>
		  <script src="{{ url_for('static',filename='js/responsiveslides.min.js') }}"></script>
		  <script>
			// You can also use "$(window).load(function() {"
			$(function () {
			  // Slideshow 4
			  $("#slider4").responsiveSlides({
				auto: true,
				pager:true,
				nav:true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
				  $('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				  $('.events').append("<li>after event fired.</li>");
				}
			  });
		
			});
		 </script>
	   </div>
	</div>   
</div>
<!-- menu -->
<nav class="navbar navbar-inverse ">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		</button>
	<div class="collapse navbar-collapse top-nav w3l" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav linkEffects linkHoverEffect_11 custom-menu">
			<li class="agile_active"><a href="#" class="scroll"><span>项目内容</span></a></li>
			<li><a href="#about" class="scroll"><span>团队简介</span></a></li>
			<li><a href="#gallery" class="scroll"><span>画廊 </span></a></li>
			<li><a href="#team" class="scroll"><span>团队成员</span></a></li>
		</ul>
	</div>
	</div>
</nav>
<!-- //menu -->
  </div>	
<!-- //banner -->	
<!-- home -->
<div class="home_ w3layouts">
 <div class="home_grids_w3">
  <div class="home_main">
	   <div class="col-md-7 col-sm-7 col-xs-7 img1 img-grid">
		   <div class="img_text_w3ls text-center">
				<h4>直播</h4>
				<span> </span>
				<p>游戏 娱乐...</p>
			</div>
		</div>
		<div class="col-md-5 img2 col-sm-5 col-xs-5 img-grid">
		    <div class="img_text_w3ls text-center">
				<h4>PC游戏</h4>
				<span> </span>
				<p>英雄联盟 绝地求生 堡垒之夜...</p>
			  </div>
		</div>
		<div class="clearfix"></div>
	</div>
  <div class="home_main">
	   <div class="col-md-5 col-sm-5 col-xs-5 img3 img-grid ">
		    <div class="img_text_w3ls text-center">
				<h4>主机游戏</h4>
				<span> </span>
				<p>战地 GTA 上古卷轴 ...</p>
			  </div>
		</div>
	  <div class="col-md-7 col-sm-7 col-xs-7 img4 img-grid">
		    <div class="img_text_w3ls text-center">
				<h4>手机游戏</h4>
				<span> </span>
				<p>王者荣耀 刺激战场 皇室战争 ...</p>
			</div>
	 </div>
	<div class="clearfix"></div>
  </div>
   <div class="home_main">
	   <div class="col-md-7 col-sm-7 col-xs-7 img-grid  img5">
		  <div class="img_text_w3ls text-center">
				<h4>娱乐</h4>
				<span> </span>
				<p>星秀 颜值 歌舞 ...</p>
		  </div>
		 </div>
		<div class="col-md-5 col-sm-5 col-xs-5 img-grid img6">
		  <div class="img_text_w3ls text-center">
				<h4>其他</h4>
				<span> </span>
				<p>More ...</p>
		  </div>
		 </div>
		<div class="clearfix"></div>
  </div>
</div>
</div>
<!-- //home -->
<!-- about -->
<div class="about_agileinfo" id="about">
  <div class="container">
      <h3 class="title">团队简介</h3>
	  <div class="about_main">
		  <div class="col-md-6 col-sm-6 col-xs-6 about_agileits"></div>
		  <div class="col-md-6 col-sm-6 col-xs-6 about_text_w3l">
		    <h4>HardCore Player</h4>
			<P>我们是HardCore,来自达内教育上海市长寿路中心AID1809..<br>
                &nbsp;&nbsp;组名可翻译成硬核玩家　硬核选手　硬核也　玩物之至也 <br>
                我们追求完美极致　追求在极致中体现自我核心价值 <br>
                我们的口号是　coding is fantasy~
			</P>
		  </div>
		  <div class="clearfix"></div>
	  </div>	  
  </div>
 </div> 
<!-- //about -->
<!-- gallery -->
<div class="gallery_wthree" id="gallery">
 <div class="container">
      <h3 class="title">画廊</h3>
	  <div class="gallery_grid agileits_w3layouts">
	    <div class="col-md-6  col-sm-6 col-xs-6 grid_w3">
			<div class="grid-1">
				<a class="cm-overlay" href="{{ url_for('static',filename='img/2.jpg') }}">
					<img src="{{ url_for('static',filename='img/2.jpg') }}" alt=" " class="img-responsive" />
					 <div class="w3agile-text w3agile-text-smal1">
						<h5>我们</h5>
					</div>
				</a>
			</div>
			 <div class="sub_grid gallery_w3l">
				   <div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-c grid_w3l">
						<a class="cm-overlay" href="{{ url_for('static',filename='img/14.jpg') }}">
							<img src="{{ url_for('static',filename='img/14.jpg') }}" alt=" " class="img-responsive" />
							<div class="w3agile-text w3agile-text-small">
								<h5>熊征斯</h5>
					        </div>
						</a>
					</div>
				   <div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-b grid_w3l">
					 	<a class="cm-overlay" href="{{ url_for('static',filename='img/13.jpg') }}">
							<img src="{{ url_for('static',filename='img/13.jpg') }}" alt=" " class="img-responsive" />
							<div class="w3agile-text w3agile-text-smal1">
								<h5>臧启元</h5>
							</div>
						</a>
					</div>
				   <div class="clearfix"></div>
			 </div>  
        </div>
		<div class="col-md-6 col-sm-6 col-xs-6 grid_w3">
		   <div class="sub_grid">
			   <div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-c grid_w3l">
          			<a class="cm-overlay" href="{{ url_for('static',filename='img/15.jpg') }}">
						<img src="{{ url_for('static',filename='img/15.jpg') }}" alt=" " class="img-responsive" />
						<div class="w3agile-text w3agile-text-small">
							<h5>殷惠俊</h5>
						</div>
					</a>
			   </div>
			   <div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-d grid_w3l">
					<a class="cm-overlay" href="{{ url_for('static',filename='img/16.jpg') }}">
						<img src="{{ url_for('static',filename='img/16.jpg') }}" alt=" " class="img-responsive" />
						<div class="w3agile-text w3agile-text-smal1">
							<h5>胡富国</h5>
						</div>
					</a>
				</div>
				 <div class="clearfix"></div>
			   </div>
		    <div class="grid-1 grid-2">
				<a class="cm-overlay" href="{{ url_for('static',filename='img/7.jpg') }}">
					<img src="{{ url_for('static',filename='img/7.jpg') }}" alt=" " class="img-responsive" />
					<div class="w3agile-text w3agile-text-smal1">
							<h5>李昌文</h5>
					</div>
				</a>
		    </div>
		   <div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	  </div>	
</div>
</div>
<!-- //gallery -->
<!-- Tooltip -->
<div class="tooltip-content">
	<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title text-center">AID1809</h2>
				</div>
				<div class="modal-body">
					<img src="{{ url_for('static',filename='img/666.jpg') }}" alt="image">
					<p>达内上海长寿路中心AID1809班</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Tooltip -->

<!-- section -->
<div class="w3layouts-section" id="blog">
	<div class="container">   
		<h3 class="title">班级</h3> 
		<p>达内上海长寿路中心AID1809班</p>
		<a href="#myModal" class="agilebtn" data-toggle="modal" data-target="#myModal"><span>AID1809</span></a>
	</div>
</div>
<!-- //section --> 
<!--team -->
<div class="team agileits-w3layouts" id="team">
	<div class="container">
		<h3 class="title">团队成员</h3>  
		<div class="team-w3ls">
			<div class="col-md-4 col-sm-4 col-xs-4 team-grid w3_agileits">
				<img class="img-w3l t1-wthree img-responsive1" src="{{ url_for('static',filename='img/7.jpg') }}" alt="">
				<h5>李昌文</h5>
				<p>组长</p>
				<div class="social-icons">
					<ul>
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div> 
			</div>

			<div class="col-md-4 col-sm-4 col-xs-4 w3_agileits team-grid">
				<img class="img-w3l t1-wthree img-responsive1" src="{{ url_for('static',filename='img/15.jpg') }}" alt="">
				<h5>殷惠俊</h5>
				<p>组员</p>
				<div class="social-icons agile">
					<ul>
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div> 
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 w3_agileits team-grid">
				<img class="img-w3l t1-wthree img-responsive1" src="{{ url_for('static',filename='img/13.jpg') }}" alt="">
				<h5>臧启元</h5>
				<p>组员</p>
				<div class="social-icons agile">
					<ul>
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div> 
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 w3_agileits team-grid">
				<img class="img-w3l t1-wthree img-responsive1" src="{{ url_for('static',filename='img/14.jpg') }}" alt="">
				<h5>熊征斯</h5>
				<p>组员</p>
				<div class="social-icons agile">
					<ul>
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div> 
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 team-grid w3_agileits">
				<img class="img-w3l t1-wthree img-responsive1" src="{{ url_for('static',filename='img/16.jpg') }}" alt="">
				<h5>胡富国</h5>
				<p>组员</p>
				<div class="social-icons">
					<ul>
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div> 
			</div>
			<div class="clearfix"> </div>
		</div>   
	</div>
</div>
<!-- //team--> 
<!-- contact --> 

</div>	
<!-- //contact --> 
<!-- subscribe -->
<!-- //subscribe --> 
<!-- copy-right -->
<div class="copy-right agileits-w3layouts">
	<div class="container">
		<p>Copyright &copy; 2019.Company name HardCore<a href="http://www.cssmoban.com/" target="_blank" title="HardCore">HardCore</a> - Collect from <a href="http://www.HardCoreTV.com/" title="HardCore" target="_blank">HardCore</a></p>	
	</div>
</div>
<!-- //copy-right -->
<!-- Gallery-plugin -->
<script src="{{ url_for('static',filename='js/jquery.mobile.custom.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.cm-overlay.js') }}"></script>
		<script>
			$(document).ready(function(){
				$('.cm-overlay').cmOverlay();
			});
		</script>
<!-- //Gallery-plugin -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ url_for('static',filename='js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/easing.js') }}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<script src="{{ url_for('static',filename='js/SmoothScroll.min.js') }}"></script>
<!-- //end-smooth-scrolling -->	
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
	});
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
</body>
</html>