<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>全部直播</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/livelist.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Head.css') }}" type="text/css">
	<script>
	window.onload = function(){
        var obj = document.getElementById('livelistid');
        obj.onclick=function(){
        window.location.href="#";
        }
    }
	</script>

</head>
<body>
<div id="header" >
    <a class="head_logo_hc" href="javascript:location.reload();" style="background: rgba(0, 0, 0, 0)
    no-repeat scroll left center;">
        <img id="homelogo" src="{{ url_for('static',filename='img/file/Hardcore.png') }}">
    </a>
    <ul class="head_nav">
        <li class="nav_current">
            <!--<a href="javascript:location.reload();">首页</a>-->
            <a href="/">首页</a>
        </li>
        <li class="nav_total">
            <!--<a href="javascript:location.reload();">全部</a>-->
            <a href="/list/all/1">全部</a>
        </li>
        <li class="nav_classification">
            <a href="javascript:location.reload();">分类</a>
            <div class="a_pop open">
                <ul class="second_menu">
                    <li><a href="/list/pcgame/1">PC游戏</a></li>
                    <li><a href="/list/vgame/1">主机游戏</a></li>
                    <li><a href="/list/mgame/1">手机游戏</a></li>
                    <li><a href="/list/enjoy/1">娱乐</a></li>
                    <li><a href="/list/other/1">其它</a></li>
                </ul>
            </div>

        </li>
        <li class="nav_ad">
            <a href="/ads">广告</a>
        </li>
        <li class="nav_aboutUs">
            <a href="javascript:location.reload();">关于我们</a>
        </li>
    </ul>
    <form class="in_header_right" method="post" action="/list/search/1">
        <input id="suggest_search" name="search" class="search" type="text" autocomplete="off" value="" placeholder="搜游戏/主播" style="position: absolute;left: 20px;">
        <a id="p_search" href="" style="left: 240px;">
            <img src="{{ url_for('static',filename='img/search.png') }}">
        </a>
        {% if not session.get('is_login') %}
        <span id="log_regis">
            <img class="person" src="{{ url_for('static',filename='img/person.png') }}">
            <a id="login" href="/login" rel="nofollow">登录</a>
            <span id="sep">|</span>
            <a id="register" href="/register">注册</a>
        </span>
        {% elif session.get('is_login') %}
        <span class="nav_user success_login">
            <img id="login_user" src="{{ url_for('static',filename='img/user.jpg') }}" alt="头像" style="width: 26px;height: 26px;border-radius: 13px;">
            <div class="user_position" style="height: 29px;line-height: 10px;line-height: 29px;float: right;">
                <span id="login_userName">{{ user.user_name }}</span>
                <span><a href="/skip/logout" style="text-decoration: none">退出</a></span>
            </div>
        </span>
        {% endif %}
    </form>
</div>
<!--网页头部-->
{#<div id="header" >#}
{##}
{#	<a class="head_logo_hc" href="javascript:location.reload();" style="background: rgba(0, 0, 0, 0)#}
{#				no-repeat scroll left center;">#}
{#		<img src="{{ url_for('static',filename='img/file/Hardcore.png') }}" name="homelogo" id="homelogo">#}
{#	</a>#}
{#	<ul class="head_nav">#}
{#		<li class="homepage">#}
{#			<a href="/">首页</a>#}
{#		</li>#}
{#		<li class="current">#}
{#			<a href="/list/all/1">全部</a>#}
{#		</li>#}
{#		<li class="nav_classification">#}
{#			<a href="javascript:location.reload();">分类</a>#}
{#		</li>#}
{#		<li class="ad">#}
{#			<a href="javascript:location.reload();">广告</a>#}
{#		</li>#}
{#		<li class="nav_aboutUs">#}
{#			<a href="javascript:location.reload();">关于我们</a>#}
{#		</li>#}
{#	</ul>#}
{##}
{#	<form class="in_header_right" method="post" action="/list/search/1">#}
{#		<input id="suggest_search" name="search" class="search" type="text" autocomplete="off" value="" placeholder="搜游戏/主播">#}
{#		<a id="p_search" href="#">#}
{#			<img src="{{ url_for('static',filename='img/file/7.png') }}">#}
{#		</a>#}
{#		<span id="log_regis">#}
{#						<img class="person" src="{{ url_for('static',filename='img/file/8.png') }}">#}
{#						<a id="login" href="/login" rel="nofollow">登录</a>#}
{#						<span id="sep">|</span>#}
{#						<a id="register" href="/register">注册</a>#}
{#		</span>#}
{#	</form>#}
{##}
{#</div>#}
<!--网页主体-->
<div id="mainbody">
	<div class='nav2'>
		<span class="sep1">&nbsp||</span>
		<span class="sep1">&nbsp&nbsp&nbsp&nbsp&nbsp正在直播</span>
		<a href="/list/all/1">全部</a>
		<a href="/list/pcgame/1">PC游戏</a>
		<a href="/list/vgame/1">主机游戏</a>
		<a href="/list/mgame/1">手机游戏</a>
        <a href="/list/enjoy/1">娱乐</a>
        <a href="/list/other/1">其他</a>
	</div>
	<div class="bglink">

		<div class="livebg">
			{% if not result %}
				<h1>没有您想要的结果</h1>
				<a href="/list/all/1">返回</a>
			{% endif %}
            {% for r in result %}
            <div class="livelist">
				{% if r['isol'] == 0 %}
                <a href="/lubo/{{ r['rid'] }}" class="liveroom"><img src={{ url_for('static',filename=r['img']) }} class="bo"></a>
				{% elif r['isol'] == 1 %}
                <a href="/live/{{ r['rid'] }}" class="liveroom"><img src={{ r['img'] }} class="bo"></a>
				{% endif %}
                    <span class="livespan1">
                        <a href="">{{ r['rname'] }}</a>
                    </span>
                    <span class="livespan2">
                        <a href=""><img src="{{ url_for('static',filename='img/file/9.png') }}" alt="" class="hostpic">{{ r['hname'] }}</a>
                    </span>
                    <span class="livespan3">
                        <a href="">{{ r['type'] }}</a>
                    </span>
                    <span class="looknum"><img src="{{ url_for('static',filename='img/file/11.png') }}" alt="" class="eye">&nbsp{{ r['pcount'] }}
                        人</span>
            </div>
            {% endfor %}
            <div class="clear"></div>

        </div>
    </div>
    <div class='tcd-page-code'>
        {% if current>1 %}
            <a href="/list/{{ type }}/{{ current-1 }}">上一页</a>
        {% endif %}
        {% for i in range(1,page+1) %}
            {% if i==current %}
                <a href="/list/{{ type }}/{{ i }}" class="current">{{ i }}</a>
            {% else %}
                <a href="/list/{{ type }}/{{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if current<page %}
            <a href="/list/{{ type }}/{{ current+1 }}">下一页</a>
        {% endif %}
    </div>
</div>
</body>
</html>