<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hardcore TV主页</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/livelist.css') }}" type="text/css">
	<script>
	window.onload = function(){
    var obj = document.getElementById('livelistid');
    obj.onclick=function(){
    window.location.href="#";
    }
 }
	</script>

</head>
<body>
<!--网页头部-->
<div id="header" >

	<a class="head_logo_hc" href="javascript:location.reload();" style="background: rgba(0, 0, 0, 0)
				no-repeat scroll left center;">
		<img src="{{ url_for('static',filename='img/file/logo1.png') }}" name="homelogo" id="homelogo">
	</a>
	<ul class="head_nav">
		<li class="homepage">
			<a href="javascript:location.reload();">首页</a>
		</li>
		<li class="current">
			<a href="javascript:location.reload();">全部</a>
		</li>
		<li class="nav_classification">
			<a href="javascript:location.reload();">分类</a>
		</li>

		<li class="nav_aboutUs">
			<a href="javascript:location.reload();">关于我们</a>
		</li>
	</ul>

	<form class="in_header_right" method="post" action="/">
		<input id="suggest_search" class="search" type="text" autocomplete="off" value="" placeholder="搜游戏/主播">
		<a id="p_search" href="#">
			<img src="{{ url_for('static',filename='img/file/7.png') }}">
		</a>
		<span id="log_regis">
						<img class="person" src="{{ url_for('static',filename='img/file/8.png') }}">
						<a id="login" href="/login" rel="nofollow">登录</a>
						<span id="sep">|</span>
						<a id="register" href="/register">注册</a>
					</span>
	</form>

</div>
<!--网页主体-->
<div id="mainbody">
	<div class='nav2'>
		<span class="sep1">&nbsp&nbsp&nbsp|</span>
		<span class="sep1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp正在直播</span>
		<a href="#">全部</a>
		<a href="#">游戏</a>
		<a href="#">户外</a>
		<a href="#">歌舞</a>
	</div>
	<div class="bglink">

		<div class="livebg">
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="livelist" id="livelistid">

			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class='nav3'>
		<a href="#">上一页</a>
		<a href="#">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">下一页</a>
	</div>
</div>
</body>
</html>