<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width:1244px;
            height:700px
        }
    </style>
</head>
<body>
    欢迎来到hardcore_tv
    <hr>
    <a href="/lubo">录播</a>
    <br>
    <a href="/register">注册</a>
    <br>
    <a href="/login">登录</a>
    <br>
    <a href="/all">直播列表</a>
    <br>
    <iframe src="//player.bilibili.com/player.html?aid=38318391&cid=67354014&page=1" width="750" height="480"
           scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
    </iframe>
</body>
</html>