<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width:1244px;
            height:700px
        }
    </style>
    <script src="http://vjs.zencdn.net/5.20.1/videojs-ie8.min.js"></script>
</head>
<body>
    欢迎来到hardcore_tv
    <hr>
    <a href="/lubo">录播</a>
    <br>
    <a href="/register">注册</a>
    <br>
    <a href="/login">登录</a>
    <br>
    <a href="/list">直播列表</a>
    <br>
    <a href="/live">直播间</a>
    <br>
    <form method="post" action="/">
        输入数字:<input type="text" name="num" id=""><br>
        <button type="submit">提交</button>
    </form>
    <h3>{{ result }}</h3>

</body>
</html>