<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hardcore跳转...</title>
    <script type="text/javascript">
		setTimeout("location.href='/';", 5000);
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/skip.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body background="{{ url_for('static',filename='img/file/timg1.jpg') }}">
    <div class="text-wrapper">
        <h1>正在为您跳转主页...<span>www.hardcoretv.com</span></h1>
        <h1>正在为您跳转主页...<span>www.hardcoretv.com</span></h1>
    </div>

<div style="text-align:center;clear:both;">

</body>
</html>