<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
		setTimeout("location.href='/';", 3800);
    </script>
    <style>
        h1{
            position:absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            color: rgba(2,93,86,1);
            font-size: 60px;
        }
    </style>
</head>
<body background="{{ url_for('static',filename='img/file/timg1.jpg') }}">
    <h1>
        3秒后为您跳转主页...
    </h1>
</body>
</html>