<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
         minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
        <title>TV</title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/TV.css') }}">
    </head>
    <body>
        <div class="head">
            <div class="logo">
                <img src="{{ url_for('static',filename='img/452.jpg') }}" height="60px">
            </div>
            <div id="head1">
                <a href="">首页</a>
            </div>
            <div id="head2">
                <a href="" >全部</a>
            </div>
            <div id="head3">
                <a href="">关于我们</a>
            </div>
            <form class="form1" action="" method="">
                <input type="text" name="search" placeholder="搜比赛/美食">
            </form>
            <div id="head4">
                <a href="">登录</a>
                <label> | </label>
                <a href="">注册</a>
            </div>
        </div>
        <div class="video">
            <video class="vid" width="1244px" height="700px" controls>
                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
            </video>
        </div>
        <div class="comment">
            <input type="text" name="sendcomm" placeholder="发送评论...">
            <form class="form2" action="" method="">
                <input type="submit" name="sencomment" value="发送评论">
            </form>
        </div>
        <div class="chat">
            <div class="vide">视频
                <div class="show">
                    <div>
                        <video width="220px" height="155px">
                            <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                        </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                    <div>
                        <video width="220px" height="155px">
                            <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                        </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                    <div>
                            <video width="220px" height="155px">
                                <source src="{{ url_for('static',filename='video/xmj.mp4') }}">
                            </video>
                    </div>
                </div>
            </div>
            <div class="comments">评论
                <div class="chatarea"></div>
            </div>
        </div>
    </body>
</html>