<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
         minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
        <title>TV_live</title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/TV_live.css') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.3.js') }}"></script>
        <script src="{{ url_for('static',filename='js/ckplayer/ckplayer/ckplayer.js') }}"></script>
    </head>
    <body>
        <!-- <div class="head">
            <div class="logo">
                <img src="452.jpg" height="60px">
            </div>
            <div id="head1">
                <a href="">首页</a>
            </div>
            <div id="head2">
                <a href="" >全部</a>
            </div>
            <div id="head3">
                <a href="">关于我们</a>
            </div>
            <form class="form1" action="" method="">
                <input type="text" name="search" placeholder="搜比赛/美食">
            </form>
            <div id="head4">
                <a href="">登录</a>
                <label> | </label>
                <a href="">注册</a>
            </div>
        </div> -->
        <div id="header" >
            <a class="head_logo_hc" href="javascript:location.reload();" style="background: rgba(0, 0, 0, 0)
            no-repeat scroll left center;">
                <img id="homelogo" src="{{ url_for('static',filename='img/HC_logo.png') }}">
            </a>
            <ul class="head_nav">
                <li class="nav_current">
                    <a href="javascript:location.reload();">首页</a>
                </li>
                <li class="nav_total">
                    <a href="javascript:location.reload();">全部</a>
                </li>
                <li class="nav_classification">
                    <a href="javascript:location.reload();">分类</a>
                </li>
                <li class="nav_ad">
                    <a href="javascript:location.reload();">广告</a>
                </li>
                <li class="nav_aboutUs">
                    <a href="javascript:location.reload();">关于我们</a>
                </li>
            </ul>
            <form class="in_header_right" method="post" action="/">
                <input id="suggest_search" class="search" type="text" autocomplete="off" value="" placeholder="搜游戏/主播">
                <a id="p_search" href="#">
                    <img src="{{ url_for('static',filename='img/search.png') }}">
                </a>
                <span id="log_regis">
                    <img class="person" src="{{ url_for('static',filename='img/person.png') }}">
                    <a id="login" href="/login" rel="nofollow">登录</a>
                    <span id="sep">|</span>
                    <a id="register" href="/register">注册</a>
                </span>
            </form>
        </div>
        <div id="roomname">
            <span class="roomtitle">直播间直播名称</span>
            <br>
            <span class="roominfo">分类  发布于.... 播放共。。次</span>
        </div>
        <div id="attention">
            <button class="try" onclick="at()">订阅</button>
            <button class="num">521314关注</button>
            <script type="text/javascript">
                function at(){
                    if ($("#attention .try").text()=="订阅"){
                        var x=confirm("是否订阅？");
                        if (x==true){
                            $("#attention .try").text("已订阅");
                            var b=parseInt($("#attention .num").text());
                            var b=b+1;
                            var q=b.toString();
                            $("#attention .num").text(q+"关注");
                        }
                    }else if($("#attention .try").text()=="已订阅"){
                        var y=confirm("是否取消订阅？");
                        if(y==true){
                            $("#attention .try").text("订阅");
                            var b=parseInt($("#attention .num").text());
                            var b=b-1;
                            var q=b.toString();
                            $("#attention .num").text(q+"关注");
                        }
                    }
                }
            </script>
        </div>
        <div id="starframe">
            <div class="starpic"></div>
        </div>
        <!-- <div class="video">
            <video class="vid" width="1244px" height="700px" controls>
                <source src="zj.mp4">
            </video>
        </div> -->
        <div class="video">
            <script type="text/javascript" src="{{ url_for('static',filename='js/ckplayer/ckplayer/ckplayer.js') }}"></script>
            <div class="vid" width="1244px" height="700px"></div>
            <script type="text/javascript">
                var videoObject = {
                    container: '.vid',//“#”代表容器的ID，“.”或“”代表容器的class
                    variable: 'player1',//该属性必需设置，值等于下面的new chplayer()的对象
                    autoplay: true,
                    html5m3u8: true,
                    rtmpBufferTime:10,
                    // video:'http://ckplayer-video.oss-cn-shanghai.aliyuncs.com/ckplayer-sample/m3u8/cd/index.m3u8'//视频地址
                    video: 'rtmp://txrtmp.cdn.zhanqi.tv/zqlive/34338_PVMT5'
                };
                var player1 = new ckplayer(videoObject);
            </script>
        </div>
        <div class="comment">
            <div class="present">
                <button onclick=""><img src="{{ url_for('static',filename='img/p1.png') }}"></button>
                <button onclick=""><img src="{{ url_for('static',filename='img/p2.png') }}"></button>
                <button onclick=""><img src="{{ url_for('static',filename='img/p3.png') }}"></button>
                <button onclick=""><img src="{{ url_for('static',filename='img/p4.png') }}"></button>
            </div>  
            <button id="btn" onclick="">充值</button>
        </div>
        <div class="chat"></div>
        <div class="sendcom">
            <input type="text" name="sendcom" placeholder="发送评论...">
            <button onclick="">发送评论</button>
        </div>
    </body>
</html>