<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
         minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
        <title>TV_live</title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/TV_live.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Head.css') }}" type="text/css">
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.3.js') }}"></script>
        <script src="{{ url_for('static',filename='js/ckplayer/ckplayer/ckplayer.js') }}"></script>
    </head>
    <body>
        <div id="header" >
    <a class="head_logo_hc" href="javascript:location.reload();" style="background: rgba(0, 0, 0, 0)
    no-repeat scroll left center;">
        <img id="homelogo" src="{{ url_for('static',filename='img/file/Hardcore.png') }}">
    </a>
    <ul class="head_nav">
        <li class="nav_current">
            <!--<a href="javascript:location.reload();">首页</a>-->
            <a href="/">首页</a>
        </li>
        <li class="nav_total">
            <!--<a href="javascript:location.reload();">全部</a>-->
            <a href="/list/all/1">全部</a>
        </li>
        <li class="nav_classification">
            <a href="javascript:location.reload();">分类</a>
            <div class="a_pop open">
                <ul class="second_menu">
                    <li><a href="/list/pcgame/1">PC游戏</a></li>
                    <li><a href="/list/vgame/1">主机游戏</a></li>
                    <li><a href="/list/mgame/1">手机游戏</a></li>
                    <li><a href="/list/enjoy/1">娱乐</a></li>
                    <li><a href="/list/other/1">其它</a></li>
                </ul>
            </div>

        </li>
        <li class="nav_ad">
            <a href="/ads">广告</a>
        </li>
        <li class="nav_aboutUs">
            <a href="/aboutus" target="_blank">关于我们</a>
        </li>
    </ul>
    <form class="in_header_right" method="post" action="/list/search/1">
        <input id="suggest_search" name="search" class="search" type="text" autocomplete="off" value="" placeholder="搜游戏/主播" style="position: absolute;left: 20px;">
        <a id="p_search" href="" style="left: 240px;">
            <img src="{{ url_for('static',filename='img/search.png') }}">
        </a>
        {% if not session.get('is_login') %}
        <span id="log_regis">
            <img class="person" src="{{ url_for('static',filename='img/person.png') }}">
            <a id="login" href="/login" rel="nofollow">登录</a>
            <span id="sep">|</span>
            <a id="register" href="/register">注册</a>
        </span>
        {% elif session.get('is_login') %}
        <span class="nav_user success_login">
            <img id="login_user" src="{{ url_for('static',filename='img/user.jpg') }}" alt="头像" style="width: 26px;height: 26px;border-radius: 13px;">
            &nbsp;&nbsp;
            <div class="user_position" style="height: 29px;line-height: 10px;line-height: 29px;float: right;">
                <span id="login_userName">{{ user.user_name }}</span>
                <span><a href="/skip/logout" style="text-decoration: none">退出</a></span>
                &nbsp;&nbsp;&nbsp;
                <span id="showbp">当前积分:{{ score }}</span>
            </div>
        </span>
            <script>

            </script>
        {% endif %}
    </form>
</div>
        <div id="roomname">
            <span class="roomtitle">{{ info['room_name'] }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="roominfo">||{{ info['type'] }}</span>
        </div>
        <div id="attention">
            <button class="try" onclick="at()">订阅</button>
            <button class="num">{{ info['fans'] }}关注</button>
            <script type="text/javascript">
                function at(){
                    if ($("#attention .try").text()=="订阅"){
                        var x=confirm("是否订阅？");
                        if (x==true){
                            $("#attention .try").text("已订阅");
                            var b=parseInt($("#attention .num").text());
                            var b=b+1;
                            var q=b.toString();
                            $("#attention .num").text(q+"关注");
                        }
                    }else if($("#attention .try").text()=="已订阅"){
                        var y=confirm("是否取消订阅？");
                        if(y==true){
                            $("#attention .try").text("订阅");
                            var b=parseInt($("#attention .num").text());
                            var b=b-1;
                            var q=b.toString();
                            $("#attention .num").text(q+"关注");
                        }
                    }
                }
            </script>
        </div>
        <div id="starframe">
            <div class="starpic">
                <img src={{ info["himg"] }} style='width:55px;'>
                {{ info['host_name'] }}
            </div>
        </div>
        <div class="video" width="1244px" height="700px">
            <script type="text/javascript" src="{{ url_for('static',filename='js/ckplayer/ckplayer/ckplayer.js') }}"></script>
            <div class="vid" width="1244px" height="700px"></div>
            <script type="text/javascript">
                var videoObject = {
                    container: '.vid',//“#”代表容器的ID，“.”或“”代表容器的class
                    variable: 'player1',//该属性必需设置，值等于下面的new chplayer()的对象
                    autoplay: true,
                    html5m3u8: true,
                    rtmpBufferTime:10,
                    video: '{{ info['live_url'] }}'
                };
                var player1 = new ckplayer(videoObject);
            </script>
            <div class="barrage-container-wrap clearfix">
                <div class="barrage-container">
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="present">
                <button class="img-group" id="llg" onclick=""><img title="斑竹0p" src="{{ url_for('static',filename='img/p1.png') }}">
                    <div class="img-tip">斑竹5p</div>
                </button>
                <button class="img-group" id="lg" onclick=""><img title="飞机10p" src="{{ url_for('static',filename='img/p2.png') }}">
                    <div class="img-tip">飞机10p</div>
                </button>
                <button class="img-group" id="mg" onclick=""><img title="火箭50p" src="{{ url_for('static',filename='img/p3.png') }}">
                    <div class="img-tip">火箭50p</div>
                </button>
                <button class="img-group" id="hg" onclick=""><img title="超级火箭100p" src="{{ url_for('static',filename='img/p4.png') }}">
                    <div class="img-tip">超级火箭100p</div>
                </button>
            </div>
            <button id="btn"  onclick="location.href='/ads'">获取积分</button>
        </div>
        <script>

            $(function () {
            $('#llg').click(function () {
                {% if not session.get('is_login') %}
                alert('请登陆--送礼物')
                {% else %}
                var data = {'bp':-5};
                var s = $('#showbp').text()
                arrlist = s.split(':')
                    $.ajax(
                    {
                        url:'/bp',
                        type:'POST',
                        contentType: 'application/json; charset=UTF-8',
                        dataType:'json',
                        data:JSON.stringify(data),

                    }
            )
                score = parseInt(arrlist[1])
                score -= 5
                if (score<0){
                    alert('您的积分不足 请在广告页面获取积分')
                }
                else {
                    $('#showbp').html('当前积分:' + score)
                    alert('给主播送出斑竹-5分')
                }
                {% endif %}
            })
        })
            $(function () {
            $('#lg').click(function () {
                {% if not session.get('is_login') %}
                alert('请登陆--送礼物')
                {% else %}
                var data = {'bp':-10};
                $.ajax(
                {
                    url:'/bp',
                    type:'POST',
                    contentType: 'application/json; charset=UTF-8',
                    dataType:'json',
                    data:JSON.stringify(data),

                }
            )
                var s = $('#showbp').text()
                arrlist = s.split(':')
                score = parseInt(arrlist[1])
                score -= 10
                if (score<0){
                    alert('您的积分不足 请在广告页面获取积分')
                }
                else {
                    $('#showbp').html('当前积分:' + score)
                    alert('给主播送出飞机-10分')
                    $('#plane').css('display','inline')
                    setTimeout(function(){
                    $("#plane").css("display","none");
                        },
                        3000);
                }
                {% endif %}
            })
        })
            $(function () {
            $('#mg').click(function () {
                {% if not session.get('is_login') %}
                alert('请登陆--送礼物')
                {% else %}
                var data = {'bp':-50};
                $.ajax(
                {
                    url:'/bp',
                    type:'POST',
                    contentType: 'application/json; charset=UTF-8',
                    dataType:'json',
                    data:JSON.stringify(data),

                }

            )
                var s = $('#showbp').text()
                arrlist = s.split(':')
                score = parseInt(arrlist[1])
                score -= 50
                if (score<0){
                    alert('您的积分不足 请在广告页面获取积分')
                }
                else {
                    $('#showbp').html('当前积分:' + score)
                    alert('给主播送出火箭-50分')
                    $('#rocket').css('display','inline')
                    setTimeout(function(){
                    $("#rocket").css("display","none");
                        },
                        3000);
                }
                {% endif %}
            })
        })
            $(function () {
            $('#hg').click(function () {
                {% if not session.get('is_login') %}
                alert('请登陆--送礼物')
                {% else %}
                var data = {'bp':-100};
                $.ajax(
                {
                    url:'/bp',
                    type:'POST',
                    contentType: 'application/json; charset=UTF-8',
                    dataType:'json',
                    data:JSON.stringify(data),

                }

            )
                var s = $('#showbp').text()
                arrlist = s.split(':')
                score = parseInt(arrlist[1])
                score -= 100
                if (score<0){
                    alert('您的积分不足 请在广告页面获取积分')
                }
                else {
                    $('#showbp').html('当前积分:' + score)
                    alert('给主播送出超级火箭-100分')
                    $('#superrocket').css('display','inline')
                    setTimeout(function(){
                    $("#superrocket").css("display","none");
                        },
                        3000);
                }
                {% endif %}
            })
        })
        </script>

        <div class="chat">
            <img src="http://gfs-op.douyucdn.cn/dygift/1606/93daef170894a9d6bd8495fa0f81e165.gif" style="width: 300px; height: 300px; margin-left: 50px; display: none;" id="plane">
            <img src="http://gfs-op.douyucdn.cn/dygift/1606/39b578b3cb8645b54f9a1001c392a237.gif" style="width: 300px; height: 300px; margin-left: 50px; display: none;" id="rocket">
            <img src="http://gfs-op.douyucdn.cn/dygift/1707/c3f3f69e1fdc4f9b2c02a7bcd30334eb.gif" style="width: 300px; height: 300px; margin-left: 50px; display: none;" if="superrocket">
        </div>
        <div class="sendcom">
            <input class="input" type="text" name="sendcom" placeholder="发送评论...">
            <span class="send-btn">发送</span>
        </div>
    </body>
    <script>
    ;(function(){
      var barrageArray = [
            '安静爱骚白已经到了一种境界了 ','反一波','📺','瞬间爆炸','哈哈哈哈哈哈哈哈哈哈哈','','不是只有两个连胜号吗？','💃💃💃💃💃💃💃💃💃💃','🍧🍰🍱🍲🍳🍵☕🍶🍺🍺🍻🍸','哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈','󾓭󾓭󾓭󾓭󾓭󾓭󾓭󾓭󾓭󾓭󾓭。','惨叫 听到了2声惨叫'
          ,'。。。。。。。。','→_→（●—●)（●—●)（●—●（●—●)（●—●','嗝','加油加油加油','交下免费的荧光棒哦 然后没关注的点下关注','谢谢大家支持没关注主播的关注一下哦，欢迎加入粉丝团，成为白家的小可爱谢谢❤️','滚滚滚','📅📅📅📅📅📅📅📅📅📅',
          '🍌 🍌 🍌 🍌 🍌 🍌 🍌','💛💘💞💝💘','外号没赢过','郭显兵帮我开门','关注怎么回事','没赢过，我觉得就是立马点塔','🍮🍮🍮🍮🍮🍮🍮🍮🍮🍮🍮','💩💩💩💩💩💩','🍎️🍎️🍎️🍎️🍎️🍎️🍎','。。。。。','抱歉先吃个酸梅','有哪位兄弟也在看知否的','20秒','对面慌得一批','骚话太多就容易死啊','🍎','死了怀孕',
          '🐷🐷🐷🐷🐷🐷🐷🐷','哈哈哈哈哈哈哈哈','10秒','0. 0','袁富行，别看了','赢了[emot:dy115]','还不如点塔','🏃🏃🏃🏃🏃🏃🏃🏃🏃','uhu8h...','大傻子','找你妈借口','好像是只有苹果手机才能打出👑吧安卓和电脑别试',' 骂你','稳重点','真的很性感嘛？','🐞️🐞️🐞️🐞️🐞️🐞️🐞️'
          ,'我走了','名刀水晶','文体两开花，请多多','🌎🌎🌎🌎🌎🌎🌎🌎🌎🌎','🎀🎀🎀🎀🎀🎀🎀🎀🎀🎀🎀','曹操铭文','谁说手机不行','❌👃❌👃❌👃❌👃❌👃','🐕🐕🐱🐶🐈🐒🦁🐶🐃🐕','MVP没了','好像没赢过一样','🍎🍎🍎🍎🍎🍎🍎🍎🍎🍎','','就是想吃酸梅','🙈🙈🙈🙈🙈🙈🙈🙈🙈🙈','对面垂死挣扎','🍏🍊🍉🍈🥭',
          ];
      var barrageColorArray = [
        '#0099CC','#333333', '#009966','#FFFF66','#9933FF'
      ];
      var barrageTipWidth = 50; //提示语的长度

      var barrageBoxWrap = document.querySelector('.barrage-container-wrap');;
      var barrageBox = document.querySelector('.barrage-container');
      var inputBox = document.querySelector('.input');
      var sendBtn = document.querySelector('.send-btn');

      //容器的宽高度
      var barrageWidth = ~~window.getComputedStyle(barrageBoxWrap).width.replace('px','');
      var barrageHeight = ~~window.getComputedStyle(barrageBoxWrap).height.replace('px','');

      //发送
      function sendMsg(){
          {% if not session.get('is_login') %}
            alert('请登陆发送弹幕')
          {% else %}
        var inputValue = inputBox.value;
        inputValue .replace(/\ +/g, "");

        if (inputValue.length <= 0) {
            alert('请输入');
            return false;
        }

        //生成弹幕
        createBarrage(inputValue,true);
        $(".chat").append("<div class='smallcomment'>"+"{{ user.user_name }}"+" : "+inputBox.value+"</div>");
        inputBox.value = '';
          {% endif %}
      }


      //创建弹幕
      function createBarrage(msg, isSendMsg){
        var divNode = document.createElement('div');
        var spanNode = document.createElement('span');

        divNode.innerHTML = msg;
        divNode.classList.add('barrage-item');
        barrageBox.appendChild(divNode);

        spanNode.innerHTML = '举报';
        spanNode.classList.add('barrage-tip');
        divNode.appendChild(spanNode);

        barrageOffsetLeft = getRandom(barrageWidth, barrageWidth*2);
        barrageOffsetLeft = isSendMsg ? barrageWidth : barrageOffsetLeft
        barrageOffsetTop = getRandom(10, barrageHeight-10);
        barrageColor = barrageColorArray[Math.floor(Math.random()*(barrageColorArray.length))];

        //执行初始化滚动
        initBarrage.call(divNode,{
          left : barrageOffsetLeft,
          top : barrageOffsetTop,
          color : barrageColor
        });
      }

      //初始化弹幕移动(速度，延迟)
      function initBarrage(obj) {
        //初始化
        obj.top = obj.top || 0;
        obj.class = obj.color || '#fff';
        this.style.left = obj.left + 'px';
        this.style.top = obj.top + 'px';
        this.style.color = obj.color;

        //添加属性
        this.distance = 0;
        this.width = ~~window.getComputedStyle(this).width.replace('px','');
        this.offsetLeft = obj.left;
        this.timer = null;

        //弹幕子节点
        var barrageChileNode = this.children[0];
        barrageChileNode.style.left = (this.width-barrageTipWidth)/2 + 'px';

        //运动
        barrageAnimate(this);

        //停止
        this.onmouseenter = function(){
          barrageChileNode.style.display= 'block';
          cancelAnimationFrame(this.timer);
        };

        this.onmouseleave = function(){
          barrageChileNode.style.display = 'none';
          barrageAnimate(this);
        };

        //举报
        barrageChileNode.onclick = function(){
          alert('举报成功');
        }
      }

      //弹幕动画
      function barrageAnimate(obj){
        move(obj);

        if(Math.abs(obj.distance) < obj.width+obj.offsetLeft){
          obj.timer = requestAnimationFrame(function(){
            barrageAnimate(obj);
          });
        }else{
          cancelAnimationFrame(obj.timer);
          //删除节点
          obj.parentNode.removeChild(obj);
        }
      }

      //移动
      function move(obj){
        obj.distance--;
        obj.style.transform = 'translateX('+obj.distance+'px)';
        obj.style.webkitTransform = 'translateX('+obj.distance+'px)';
      }

      //随机获取高度
      function getRandom(start, end){
        return start +(Math.random() * (end - start));
      }


      /*******初始化事件**********/
      //系统数据
      barrageArray.forEach(function(item,index){
        createBarrage(item, false);
      });

      //点击发送
      sendBtn.onclick = sendMsg;   //点击发送

      //回车
      inputBox.onkeydown = function(e){
        e = e|| window.event;
        if(e.keyCode == 13){
          send();
        }
      }

    })()

    //兼容写法
    (function() {
        var lastTime = 0;
        var vendors = ['webkit', 'moz'];
        for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
            window.requestAnimationFrame = window[vendors[x] + 'RequestAnimationFrame'];
            window.cancelAnimationFrame = window[vendors[x] + 'CancelAnimationFrame'] ||    // Webkit中此取消方法的名字变了
                                          window[vendors[x] + 'CancelRequestAnimationFrame'];
        }

        if (!window.requestAnimationFrame) {
            window.requestAnimationFrame = function(callback, element) {
                var currTime = new Date().getTime();
                var timeToCall = Math.max(0, 16.7 - (currTime - lastTime));
                var id = window.setTimeout(function() {
                    callback(currTime + timeToCall);
                }, timeToCall);
                lastTime = currTime + timeToCall;
                return id;
            };
        }
        if (!window.cancelAnimationFrame) {
            window.cancelAnimationFrame = function(id) {
                clearTimeout(id);
            };
        }
    }());
</script>
</html>