<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
         minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
        <title>TV_record</title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/TV_record.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Head.css') }}" type="text/css">
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.3.js') }}"></script>
    </head>
    <body>
        <div id="header" >
    <a class="head_logo_hc" href="javascript:location.reload();" style="background: rgba(0, 0, 0, 0)
    no-repeat scroll left center;">
        <img id="homelogo" src="{{ url_for('static',filename='img/file/Hardcore.png') }}">
    </a>
    <ul class="head_nav">
        <li class="nav_current">
            <!--<a href="javascript:location.reload();">首页</a>-->
            <a href="/">首页</a>
        </li>
        <li class="nav_total">
            <!--<a href="javascript:location.reload();">全部</a>-->
            <a href="/list/all/1">全部</a>
        </li>
        <li class="nav_classification">
            <a href="javascript:location.reload();">分类</a>
            <div class="a_pop open">
                <ul class="second_menu">
                    <li><a href="/list/pcgame/1">PC游戏</a></li>
                    <li><a href="/list/vgame/1">主机游戏</a></li>
                    <li><a href="/list/mgame/1">手机游戏</a></li>
                    <li><a href="/list/enjoy/1">娱乐</a></li>
                    <li><a href="/list/other/1">其它</a></li>
                </ul>
            </div>

        </li>
        <li class="nav_ad">
            <a href="/ads">广告</a>
        </li>
        <li class="nav_aboutUs">
            <a href="/aboutus" target="_blank">关于我们</a>
        </li>
    </ul>
    <form class="in_header_right" method="post" action="/list/search/1">
        <input id="suggest_search" name="search" class="search" type="text" autocomplete="off" value="" placeholder="搜游戏/主播" style="position: absolute;left: 20px;">
        <a id="p_search" href="" style="left: 240px;">
            <img src="{{ url_for('static',filename='img/search.png') }}">
        </a>
        {% if not session.get('is_login') %}
        <span id="log_regis">
            <img class="person" src="{{ url_for('static',filename='img/person.png') }}">
            <a id="login" href="/login" rel="nofollow">登录</a>
            <span id="sep">|</span>
            <a id="register" href="/register">注册</a>
        </span>
        {% elif session.get('is_login') %}
        <span class="nav_user success_login">
            <img id="login_user" src="{{ url_for('static',filename='img/user.jpg') }}" alt="头像" style="width: 26px;height: 26px;border-radius: 13px;">
            <div class="user_position" style="height: 29px;line-height: 10px;line-height: 29px;float: right;">
                <span id="login_userName">{{ user.user_name }}</span>
                <span><a href="/skip/logout" style="text-decoration: none">退出</a></span>
            </div>
        </span>
        {% endif %}
    </form>
</div>
        <div id="roomname">
            <span class="roomtitle">{{ info['room_name'] }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size: 30px">||{{ info['type'] }}</span>
        </div>
        <div id="starframe">
            <div class="starpic"></div>
            <img src={{ url_for('static',filename=info["himg"]) }} style="width: 55px;">
            <span>{{ info["host_name"] }}</span>
        </div>
        <div id="attention">
            <button class="try" onclick="at()">订阅</button>
            <button class="num">{{ info['fans'] }}关注</button>
            <script type="text/javascript">
                function at(){
                    if ($("#attention .try").text()=="订阅"){
                        var x=confirm("是否订阅？");
                        if (x==true){
                            $("#attention .try").text("已订阅");
                            var b=parseInt($("#attention .num").text());
                            var b=b+1;
                            var q=b.toString();
                            $("#attention .num").text(q+"关注");
                        }
                    }else if($("#attention .try").text()=="已订阅"){
                        var y=confirm("是否取消订阅？");
                        if(y==true){
                            $("#attention .try").text("订阅");
                            var b=parseInt($("#attention .num").text());
                            var b=b-1;
                            var q=b.toString();
                            $("#attention .num").text(q+"关注");
                        }
                    }
                }
            </script>
        </div>
        <div class="video">
                <iframe src={{ videolist[0].video_url}} id='visible'
                  class="vid"  width="1244px" height="700px" autoplay="autoplay" frameborder="0">
                </iframe>
        </div>
        <div class="comment">
            <input type="text" name="sendcomm" placeholder="发送评论...">
            <form class="form2" action="" method="">
                <input type="submit" name="sencomment" value="发送评论">
            </form>
        </div>
        <div class="chat">
            <div class="vide">视频
                <div class="show">
                {% for i in range(4) %}
                    <div id="video{{ i }}" src={{ videolist[i].video_url }}>
                        <img class="posters" src="{{ url_for('static',filename= videolist[i].poster_url ) }}"
                         style="width:380px;height:170px;">
                        <span>{{ videolist[i].video_name }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>
            <script type="text/javascript">
                {#function play(){#}
                {#        $('.vid').html("<source src='static/video/roc.mp4'>");#}
                {#        $('.vid').load();#}
                {#        alert(this.source.src())0#}
                {#    }#}
                $(function () {
                    $('#video0').click(function () {
                    var s = $(this).attr('src');
                    $('#visible').attr('src',s);

                    })
                    $('#video1').click(function () {
                    var s = $(this).attr('src');
                    $('#visible').attr('src',s);
                    })
                    $('#video2').click(function () {
                    var s = $(this).attr('src');
                    $('#visible').attr('src',s);
                    })
                    $('#video3').click(function () {
                    var s = $(this).attr('src');
                    $('#visible').attr('src',s);
                    })
                })

            </script>
            <div class="comments">评论
                {% for item in comment %}
                <div class="chatarea">{{ item }}</div>
                {% endfor %}
            </div>
            <script type="text/javascript">
                $(".chat .comments .chatarea").hide()
                $(".chat .vide").click(function(){
                    $(".chat .vide").show();
                    $(".chat .vide .show").show();
                    $(".chat .comments .chatarea").hide();
                    $(".chat .vide").css("background-color","rgb(240, 180, 199)");
                    $(".chat .vide").css("color","rgb(255,255,255)");
                    $(".chat .vide").css("font-weight","bold");
                    $(".chat .comments").css("background-color","rgb(255,255,255)");
                    $(".chat .comments").css("color","rgb(1,1,1)");
                    $(".chat .comments").css("font-weight","normal");
                });
                $(".chat .comments").click(function(){
                    $(".chat .comments").show();
                    $(".chat .comments .chatarea").show()
                    $(".chat .vide .show").hide();
                    $(".chat .comments").css("background-color","rgb(240, 180, 199)");
                    $(".chat .comments").css("color","rgb(255,255,255)");
                    $(".chat .comments").css("font-weight","bold");
                    $(".chat .vide").css("background-color","rgb(255,255,255)");
                    $(".chat .vide").css("color","rgb(1,1,1)");
                    $(".chat .vide").css("font-weight","normal");
                });
            </script>
        </div>
    </body>
</html>